@import url(http://fonts.googleapis.com/css?family=Raleway:300);
body { background-color: #eee; font-family: 'Raleway', sans-serif; letter-spacing: 1px; }

section#main>header>h2 { font-size: 20px; color: #fff; margin-right: 10px; }

header { background-color: purple;}
header>h2 { text-align:right; }

section#main { width: 1200px; margin: 0 auto 0; }
section#current-article { width: 790px; float: left; white-space: pre-line; margin-bottom: 100px; }
section#current-article>p { font-size: 18px; }
nav { float: left; margin-top: 50px; margin-left: 100px; border-left: solid 1px black; }
nav>ul { margin-left: 45px; list-style: none; }
nav>p { text-align: right;}
nav>ul>li { margin-bottom: 10px; }
nav>ul>li>a { color: #3498DC; }
footer>img { margin-top: 100px; width: 80px; }
footer { position: fixed; bottom: 0; right: 10px; }
section#lol { width: 170px; height: 800px; text-align: right; float: right;
	      margin-right: 105px; margin-top: 70px;}
a#gnu>img {  width: 150px;  }
a#net>img{   margin-left: -125px; width: 150px; margin-top: 50px; }
a#libre>img { width: 150px; margin-top: 50px; }
div#language { text-align:right; font-size: 13px; }
div#language>a, div#language>a:visited { color: #3498DC; }
div#language>p { display: inline; }